case_study_linux/obXML_v1.3.3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 (x64) (http://www.altova.com) by TIANZHEN HONG (LAWRENCE BERKELEY NATIONAL LAB) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Actions">
		<xs:annotation>
			<xs:documentation>Occupants can conduct an action in order to satisfy their needs. The action may be an interaction with a system or movement to another location. </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Interaction">
					<xs:annotation>
						<xs:documentation>Interaction type and its probability model can be specified.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:all>
							<xs:element name="Type" type="InteractionType"/>
							<xs:element name="Formula">
								<xs:complexType>
									<xs:choice>
										<xs:element name="ConstantValue" type="eqConstantValueType" minOccurs="0"/>
										<xs:element name="Linear1D" type="eqLinear1DType" minOccurs="0"/>
										<xs:element name="Linear2D" type="eqLinear2DType" minOccurs="0"/>
										<xs:element name="Linear3D" type="eqLinear3DType" minOccurs="0"/>
										<xs:element name="Quadratic1D" type="eqQuadratic1DType" minOccurs="0"/>
										<xs:element name="Logit1D" type="eqLogit1DLinearType" minOccurs="0"/>
										<xs:element name="Logit2D" type="eqLogit2DLinearType" minOccurs="0"/>
										<xs:element name="Logit3D" type="eqLogit3DLinearType" minOccurs="0"/>
										<xs:element name="Weibull1D" type="eqWeibull1D3P" minOccurs="0"/>
										<xs:element name="Logit1DQuadratic" type="eqLogit1DQuadraticType" minOccurs="0"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="ControlValue" type="xs:double" minOccurs="0"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Behaviors">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MovementBehavior" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Behavior regarding location change of an occupant </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Description" type="xs:string" minOccurs="0"/>
							<xs:element name="SeasonType" type="SeasonType" minOccurs="0" maxOccurs="5"/>
							<xs:element name="DayofWeek" type="DayofWeekType" minOccurs="0" maxOccurs="11"/>
							<xs:element name="RandomMovementEvent">
								<xs:annotation>
									<xs:documentation>Occupant location change events inside a building</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SpaceOccupancy" type="SpaceOccupancyType" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Occupancy percentage of staying in a specific category in a building</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="StatusTransitionEvent" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Occupancy status and location change events in building level</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="EventType" type="StatusTransitionEventType">
											<xs:annotation>
												<xs:documentation>The event type, e.g. arrival or departure</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="EventOccurModel">
											<xs:annotation>
												<xs:documentation>The event occur model</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:choice>
													<xs:element name="CustomProbabilityModel" type="CustomProbabilityModelType"/>
													<xs:element name="MarkovChainModel" type="MarkovChainModelType"/>
													<xs:element name="NormalProbabilityModel" type="NormalProbabilityModelType"/>
												</xs:choice>
											</xs:complexType>
										</xs:element>
										<xs:element name="EventDuration" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Duration properties of an event. If specify, the event will end after the duration.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="NormalDurationModel" type="NormalDurationModelType"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ID" type="xs:ID" use="required"/>
						<xs:attribute name="Name" type="xs:string" use="optional"/>
						<xs:attribute name="IfcGuid" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Behavior" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Behavior related to the interaction with buildings</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Description" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Description of the specific behavior defined in this branch can be given.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="Drivers" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Drivers represent the environmental factors from the outside world that stimulate occupants in their inside world to fulfill a physical, physiological or psychological need.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="Needs" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Needs represent the physical and non-physical requirements of the occupant's inside world that must be met in order to ensure the satisfaction of the occupant with their environment.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="Actions">
								<xs:annotation>
									<xs:documentation>Actions are the interactions with systems or activities that an occupant can conduct to achieve environmental comfort. Actions connect occupants' inside-world needs with the environmental outside world.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="Systems" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Systems refer to the equipment or mechanisms within the building outside world with which an occupant may interact to restore or maintain environmental comfort. Systems are not described in a detailed way, only control types (other parameters of a system can be mapped to building information models).</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="IsSpecialBehavior" type="xs:boolean" default="false" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Set to true when this is a special behavior. When the special behavior is triggered, other behaviors are ignored.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ID" type="xs:ID" use="required">
							<xs:annotation>
								<xs:documentation>Identification of the specific behavior defined in this branch can be given.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Name" type="xs:string" use="optional"/>
						<xs:attribute name="IfcGuid" type="xs:string" use="optional"/>
						<xs:attribute name="AppliedBuildingType" type="BuildingType" use="optional"/>
						<xs:attribute name="BuildingTypeComment" type="xs:string" use="optional"/>
						<xs:attribute name="ActionType" type="InteractionType" use="optional"/>
						<xs:attribute name="SystemType" type="SystemTypeList" use="optional"/>
						<xs:attribute name="PaperAuthors" type="xs:string" use="optional"/>
						<xs:attribute name="PaperYear" type="xs:string" use="optional"/>
						<xs:attribute name="PaperTitle" type="xs:string" use="optional"/>
						<xs:attribute name="PaperDOI" type="xs:string" use="optional"/>
						<xs:attribute name="DataCollectionRegion" type="xs:string" use="optional"/>
						<xs:attribute name="TypesDataCollected1" type="TypesDataCollectedList" use="optional"/>
						<xs:attribute name="TypesDataCollected2" type="TypesDataCollectedList" use="optional"/>
						<xs:attribute name="TypesDataCollected3" type="TypesDataCollectedList" use="optional"/>
						<xs:attribute name="TypesDataCollectedOther" type="xs:string" use="optional"/>
						<xs:attribute name="SampleSize" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Buildings">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Building">
					<xs:annotation>
						<xs:documentation>The physical building can be mapped to other building information models (e.g. gbXML, ifc).</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Description" type="xs:string" minOccurs="0"/>
							<xs:element name="Type" type="BuildingType"/>
							<xs:element name="Address" type="xs:string" minOccurs="0"/>
							<xs:element name="Spaces" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Space" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>High level data (occupancy and systems) can be defined for spaces in the building. Other properties of spaces can be mapped to building information models. </xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Description" type="xs:string" minOccurs="0"/>
													<xs:element name="Type" type="SpaceType"/>
													<xs:element name="GroupPriority" type="GroupPriority" minOccurs="0">
														<xs:annotation>
															<xs:documentation>A method can be defined how the decision is made if there are multiple people in the space. </xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Systems" minOccurs="0">
														<xs:annotation>
															<xs:documentation>System types can be added and specified in the space.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="HVAC" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Description" type="xs:string" minOccurs="0"/>
																			<xs:element name="Type" type="HVACType"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Light" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Description" type="xs:string" minOccurs="0"/>
																			<xs:element name="Type" type="LightType"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Window" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Description" type="xs:string" minOccurs="0"/>
																			<xs:element name="Type" type="WindowType"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="PlugLoad" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Description" type="xs:string" minOccurs="0"/>
																			<xs:element name="Type" type="PlugLoadType"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="Thermostat" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Description" minOccurs="0"/>
																			<xs:element name="Type" type="ThermostatType"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="ShadeAndBlind" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Description" minOccurs="0"/>
																			<xs:element name="Type" type="ShadeAndBlindType"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="MeetingEvent" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Meeting event occurrence properties</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="SeasonType" type="SeasonType" minOccurs="0" maxOccurs="5"/>
																<xs:element name="DayofWeek" type="DayofWeekType" minOccurs="0" maxOccurs="11"/>
																<xs:element name="MinNumOccupantsPerMeeting" type="xs:integer">
																	<xs:annotation>
																		<xs:documentation>The minimum number of occupants per meeting. Uniform distribution is applied.</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="MaxNumOccupantsPerMeeting" type="xs:integer">
																	<xs:annotation>
																		<xs:documentation>The maximum number of occupants per meeting. Uniform distribution is applied.</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="MinNumberOfMeetingsPerDay" type="xs:integer">
																	<xs:annotation>
																		<xs:documentation>The minimum number of meetings per day. Uniform distribution is applied.</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="MaxNumberOfMeetingsPerDay" type="xs:integer">
																	<xs:annotation>
																		<xs:documentation>The maximum number of meetings per day. Uniform distribution is applied.</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="MeetingDurationProbability" type="MeetingDurationProbabilityType" maxOccurs="unbounded"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="OccupantID" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Predefined occupants can be added to the space.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ID" type="xs:ID" use="required"/>
												<xs:attribute name="Name" type="xs:string" use="optional"/>
												<xs:attribute name="IfcGuid" type="xs:string" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ID" type="xs:ID" use="required"/>
									<xs:attribute name="Name" type="xs:string" use="optional"/>
									<xs:attribute name="IfcGuid" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ID" type="xs:ID" use="required"/>
						<xs:attribute name="Name" type="xs:string" use="optional"/>
						<xs:attribute name="IfcGuid" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Drivers">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Time" minOccurs="0">
					<xs:annotation>
						<xs:documentation>A time frame can be set when the specific behavior is expected to happen and when the environmental driver value is needed for simulation.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TimeofDay" type="TimeofDayType" minOccurs="0" maxOccurs="7"/>
							<xs:element name="DayofWeek" type="DayofWeekType" minOccurs="0" maxOccurs="11"/>
							<xs:element name="SeasonType" type="SeasonType" minOccurs="0" maxOccurs="5"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Environment" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Environmental driver parameters can be defined.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Parameter" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Driving parameters can be set. Units of parameters are SI: degree C, ppm, lux, W/m2.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Description" type="xs:string" minOccurs="0"/>
										<xs:element name="Type" type="ParameterType">
											<xs:annotation>
												<xs:documentation>Parameter type can be simple (integer, flow, boolean, string) or complex (combination of simples or equation).</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ID" type="xs:ID" use="required"/>
									<xs:attribute name="Name" type="xs:string" use="optional"/>
									<xs:attribute name="IfcGuid" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EventType" type="RoomEventType" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Events can be defined that are possible to happen in the building</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OtherConstraint" type="OtherConstraintType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Holidays">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Holiday" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Date" type="xs:date"/>
						</xs:sequence>
						<xs:attribute name="Name"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Needs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Physical" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Thermal" minOccurs="0">
								<xs:complexType>
									<xs:choice>
										<xs:element name="OtherComfortEnvelope" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Range of indoor air temperatures can be given where occupants do not feel thermal discomfort and therefore, they don't carry out any actions.  </xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ParameterRange" type="ParameterRange" maxOccurs="unbounded"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="Visual" minOccurs="0">
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:element name="ParameterRange" type="ParameterRange" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Range of indoor lighting and/or glare parameter values can be given where occupants do not feel visual discomfort and therefore, they don't carry out any actions.  </xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="IAQ" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ParameterRange" type="ParameterRange" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Range of indoor air quality parameter values can be given where occupants do not feel IAQ discomfort and therefore, they don't carry out any actions.  </xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OccupantBehavior">
		<xs:annotation>
			<xs:documentation>The occupancy behavior root node</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Buildings" minOccurs="0"/>
				<xs:element ref="Occupants" minOccurs="0"/>
				<xs:element ref="Behaviors"/>
				<xs:element ref="Seasons" minOccurs="0"/>
				<xs:element ref="TimeofDays" minOccurs="0"/>
				<xs:element ref="Holidays" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="ID" use="required"/>
			<xs:attribute name="Version" use="required"/>
			<xs:attribute name="Name" type="xs:string" use="optional"/>
			<xs:attribute name="IfcProjectGuid" type="xs:string"/>
			<xs:attribute name="IfcFilename" type="xs:string" use="optional"/>
			<xs:attribute name="IfcOriginatingSystem" type="xs:string" use="optional"/>
			<xs:attribute name="IfcCreationDate" type="xs:date" use="optional"/>
			<xs:attribute name="IfcAuthor" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Occupants">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Occupant" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Attributes to an occupant can be given.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Priority" type="xs:integer" minOccurs="0"/>
							<xs:element name="Age" type="xs:integer" minOccurs="0"/>
							<xs:element name="Gender" type="GenderType" minOccurs="0"/>
							<xs:element name="LifeStyle" type="LifeStyleType" minOccurs="0"/>
							<xs:element name="JobType" type="JobType" minOccurs="0"/>
							<xs:element name="MovementBehaviorID" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="BehaviorID" type="xs:IDREF" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>A specific behavior can be assigned to each occupant.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ID" type="xs:ID" use="required"/>
						<xs:attribute name="Name" type="xs:string" use="optional"/>
						<xs:attribute name="IfcGuid" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Seasons">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Season" maxOccurs="unbounded">
					<xs:complexType>
						<xs:all>
							<xs:element name="StartMonth" type="xs:integer"/>
							<xs:element name="StartDay" type="xs:integer"/>
							<xs:element name="EndMonth" type="xs:integer"/>
							<xs:element name="EndDay" type="xs:integer"/>
						</xs:all>
						<xs:attribute name="Type" type="SeasonType" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Systems">
		<xs:complexType>
			<xs:choice>
				<xs:element name="HVAC">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="HVACType" type="HVACType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Lights">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="LightType" type="LightType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Windows">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="WindowType" type="WindowType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PlugLoad">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PlugLoadType" type="PlugLoadType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Thermostats">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ThermostatType" type="ThermostatType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ShadesAndBlinds">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ShadeAndBlindType" type="ShadeAndBlindType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="TimeofDays">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TimeofDay" maxOccurs="unbounded">
					<xs:complexType>
						<xs:all>
							<xs:element name="StartHour" type="xs:integer"/>
							<xs:element name="StartMinute" type="xs:integer"/>
							<xs:element name="EndHour" type="xs:integer"/>
							<xs:element name="EndMinute" type="xs:integer"/>
						</xs:all>
						<xs:attribute name="Type" type="TimeofDayType" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="CustomProbabilityModelType">
		<xs:sequence>
			<xs:element name="StatusTransitionProbability" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Time" type="xs:time"/>
						<xs:element name="Probability">
							<xs:annotation>
								<xs:documentation>Percentage of time of staying in a specific space category</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:minInclusive value="0"/>
									<xs:maxInclusive value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eqConstantValueType">
		<xs:sequence>
			<xs:element name="Description" type="xs:string" default="p=A" minOccurs="0"/>
			<xs:element name="CoefficientA" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eqLinear1DType">
		<xs:sequence>
			<xs:element name="Description" type="xs:string" default="p=A*P1+B" minOccurs="0"/>
			<xs:element name="CoefficientA" type="xs:decimal"/>
			<xs:element name="CoefficientB" type="xs:decimal"/>
			<xs:element name="Parameter1ID"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eqLinear2DType">
		<xs:sequence>
			<xs:element name="Description" type="xs:string" default="p=A*P1+B*P2+C" minOccurs="0"/>
			<xs:element name="CoefficientA" type="xs:decimal"/>
			<xs:element name="CoefficientB" type="xs:decimal"/>
			<xs:element name="CoefficientC" type="xs:decimal"/>
			<xs:element name="Parameter1ID" type="xs:IDREF"/>
			<xs:element name="Parameter2ID" type="xs:IDREF"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eqLinear3DType">
		<xs:sequence>
			<xs:element name="Description" type="xs:string" default="p=A*P1+B*P2+C*P3+D" minOccurs="0"/>
			<xs:element name="CoefficientA" type="xs:decimal"/>
			<xs:element name="CoefficientB" type="xs:decimal"/>
			<xs:element name="CoefficientC" type="xs:decimal"/>
			<xs:element name="CoefficientD" type="xs:decimal"/>
			<xs:element name="Parameter1ID" type="xs:IDREF"/>
			<xs:element name="Parameter2ID" type="xs:IDREF"/>
			<xs:element name="Parameter3ID" type="xs:IDREF"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eqLogit1DLinearType">
		<xs:sequence>
			<xs:element name="Description" default="log(p/(1-p)) = A*P1+B or p = exp(A*P1+B) / { exp(A*P1+B) + 1}" minOccurs="0"/>
			<xs:element name="CoefficientA" type="xs:decimal"/>
			<xs:element name="CoefficientB" type="xs:decimal"/>
			<xs:element name="Parameter1ID" type="xs:IDREF"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eqLogit1DQuadraticType">
		<xs:sequence>
			<xs:element name="Description" default="p = A + C / {1 + exp(-B*[log10(P1)-D]}" minOccurs="0"/>
			<xs:element name="CoefficientA" type="xs:decimal"/>
			<xs:element name="CoefficientB" type="xs:decimal"/>
			<xs:element name="CoefficientC" type="xs:decimal"/>
			<xs:element name="CoefficientD" type="xs:decimal"/>
			<xs:element name="Parameter1ID" type="xs:IDREF"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eqLogit2DLinearType">
		<xs:sequence>
			<xs:element name="Description" default="log(p/(1-p)) = A*P1+B*P2+C or p = exp(A*P1+B*P2+C) / { exp(A*P1+B*P2+C) + 1}" minOccurs="0"/>
			<xs:element name="CoefficientA" type="xs:decimal"/>
			<xs:element name="CoefficientB" type="xs:decimal"/>
			<xs:element name="CoefficientC" type="xs:decimal"/>
			<xs:element name="Parameter1ID" type="xs:IDREF"/>
			<xs:element name="Parameter2ID"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eqLogit3DLinearType">
		<xs:sequence>
			<xs:element name="Description" default="log(p/(1-p)) = A*P1+B*P2+C*P3+D or p = exp(A*P1+B*P2+C*P3+D) / { exp(A*P1+B*P2+C*P3+D) + 1}" minOccurs="0"/>
			<xs:element name="CoefficientA" type="xs:decimal"/>
			<xs:element name="CoefficientB" type="xs:decimal"/>
			<xs:element name="CoefficientC" type="xs:decimal"/>
			<xs:element name="CoefficientD" type="xs:decimal"/>
			<xs:element name="Parameter1ID" type="xs:IDREF"/>
			<xs:element name="Parameter2ID" type="xs:IDREF"/>
			<xs:element name="Parameter3ID" type="xs:IDREF"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eqQuadratic1DType">
		<xs:sequence>
			<xs:element name="Description" default="p=A*P1*P1+B*P1+C" minOccurs="0"/>
			<xs:element name="CoefficientA" type="xs:decimal"/>
			<xs:element name="CoefficientB" type="xs:decimal"/>
			<xs:element name="CoefficientC" type="xs:decimal"/>
			<xs:element name="Parameter1ID" type="xs:IDREF"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eqWeibull1D3P">
		<xs:sequence>
			<xs:element name="Description" type="xs:string" default="p=1-exp( - dT * ( (P1-A)/B)^C)) if (P1-A)/B is large than 0; p=0 if (P1-A)/B is less or equals to 0" minOccurs="0"/>
			<xs:element name="CoefficientA" type="xs:decimal"/>
			<xs:element name="CoefficientB" type="xs:decimal"/>
			<xs:element name="CoefficientC" type="xs:decimal"/>
			<xs:element name="Parameter1ID" type="xs:IDREF"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MarkovChainModelType">
		<xs:sequence>
			<xs:element name="EarlyOccurTime" type="xs:time">
				<xs:annotation>
					<xs:documentation>Earliest occurrence time of a status transition event</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypicalOccurTime" type="xs:time">
				<xs:annotation>
					<xs:documentation>Typical occurrence time of a status transition event</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MeetingDurationProbabilityType">
		<xs:sequence>
			<xs:element name="MeetingDuration" type="xs:duration">
				<xs:annotation>
					<xs:documentation>Potential duration of a meeting</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Probability">
				<xs:annotation>
					<xs:documentation>Probability of occurrence of a meeting with the certain corresponding duration</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NormalDurationModelType">
		<xs:sequence>
			<xs:element name="TypicalDuration" type="xs:duration"/>
			<xs:element name="MinimumDuration" type="xs:duration"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NormalProbabilityModelType">
		<xs:sequence>
			<xs:element name="EarlyOccurTime" type="xs:time">
				<xs:annotation>
					<xs:documentation>Earliest occurrence time of a status transition event. The duration between the early occur time and the typical occur time is 3 times of the standard deviation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypicalOccurTime" type="xs:time">
				<xs:annotation>
					<xs:documentation>Typical occurrence time of a status transition event, the mean of the distribution.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParameterRange">
		<xs:sequence>
			<xs:element name="ParameterID"/>
			<xs:element name="Min" minOccurs="0"/>
			<xs:element name="Max" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpaceOccupancyType">
		<xs:all>
			<xs:element name="SpaceCategory" type="SpaceCategory">
				<xs:annotation>
					<xs:documentation>Space category for random movement events in a building</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PercentTimePresence">
				<xs:annotation>
					<xs:documentation>Percentage of time of staying in a specific space category</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Duration" type="xs:duration">
				<xs:annotation>
					<xs:documentation>Average duration of staying in a space category</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:simpleType name="BuildingType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AutomotiveFacility"/>
			<xs:enumeration value="ConventionCenter"/>
			<xs:enumeration value="DataCenter"/>
			<xs:enumeration value="Courthouse"/>
			<xs:enumeration value="DiningBarLoungeOrLeisure"/>
			<xs:enumeration value="DiningCafeteriaFastFood"/>
			<xs:enumeration value="DiningFamily"/>
			<xs:enumeration value="Dormitory"/>
			<xs:enumeration value="ExerciseCenter"/>
			<xs:enumeration value="Firestation"/>
			<xs:enumeration value="Gymnasium"/>
			<xs:enumeration value="HospitalOrHealthcare"/>
			<xs:enumeration value="Hotel"/>
			<xs:enumeration value="Library"/>
			<xs:enumeration value="Manufacturing"/>
			<xs:enumeration value="Motel"/>
			<xs:enumeration value="MotionPictureTheatre"/>
			<xs:enumeration value="MultiFamily"/>
			<xs:enumeration value="Museum"/>
			<xs:enumeration value="Office"/>
			<xs:enumeration value="ParkingGarage"/>
			<xs:enumeration value="Penitentiary"/>
			<xs:enumeration value="PerformingArtsTheater"/>
			<xs:enumeration value="PoliceStation"/>
			<xs:enumeration value="PostOffice"/>
			<xs:enumeration value="ReligiousBuilding"/>
			<xs:enumeration value="Retail"/>
			<xs:enumeration value="SchoolOrUniversity"/>
			<xs:enumeration value="SingleFamilyHome"/>
			<xs:enumeration value="ResidentialOwn"/>
			<xs:enumeration value="ResidentialRent"/>
			<xs:enumeration value="Retail"/>
			<xs:enumeration value="Office"/>
			<xs:enumeration value="SportsArea"/>
			<xs:enumeration value="TownHall"/>
			<xs:enumeration value="Transportation"/>
			<xs:enumeration value="Unknown"/>
			<xs:enumeration value="Warehouse"/>
			<xs:enumeration value="Workshop"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DayofWeekType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Monday"/>
			<xs:enumeration value="Tuesday"/>
			<xs:enumeration value="Wednesday"/>
			<xs:enumeration value="Thursday"/>
			<xs:enumeration value="Friday"/>
			<xs:enumeration value="Saturday"/>
			<xs:enumeration value="Sunday"/>
			<xs:enumeration value="Weekdays"/>
			<xs:enumeration value="Weekends"/>
			<xs:enumeration value="Holiday"/>
			<xs:enumeration value="All"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EventDurationCalculationMethod">
		<xs:annotation>
			<xs:documentation> Theoretical model to calculate the duration of an event</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="NormalProbabilityModel"/>
			<xs:enumeration value="GeometricProbabilityModel"/>
			<xs:enumeration value="ExtremeProbabilityModel"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EventOccurCalculationMethod">
		<xs:annotation>
			<xs:documentation> Theoretical model to calculate the occurrence time of an event</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="MarkovChainModel"/>
			<xs:enumeration value="NormalProbabilityModel"/>
			<xs:enumeration value="GeometricProbabilityModel"/>
			<xs:enumeration value="ExtremeProbabilityModel"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GenderType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Male"/>
			<xs:enumeration value="Female"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GroupPriority">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Majority">
				<xs:annotation>
					<xs:documentation>If 50% or higher proportion of occupants would like to take the same action, then the action is trigerred.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HVACType">
		<xs:annotation>
			<xs:documentation>HVAC can be controlled in a continuous scale or on/off (1/0).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ZoneOnOff"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InteractionType">
		<xs:annotation>
			<xs:documentation>There are three types of interactions: TurnOn: set the value of a parameter to 1; TurnOff: set the value of a parameter to 0; and SetToControlValue: set the value of a parameter to a desired value.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="TurnOn">
				<xs:annotation>
					<xs:documentation>Set the value of a parameter to 1.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TurnOff">
				<xs:annotation>
					<xs:documentation>Set the value of a parameter to 0.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SetToControlValue">
				<xs:annotation>
					<xs:documentation>Set the value of a parameter to a desired value when event occurs.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="JobType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Regular staff"/>
			<xs:enumeration value="Researcher"/>
			<xs:enumeration value="Administrator"/>
			<xs:enumeration value="Manager"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LifeStyleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Austerity"/>
			<xs:enumeration value="Luxury"/>
			<xs:enumeration value="Norm"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LightType">
		<xs:annotation>
			<xs:documentation>Lights can be controlled in a continuous scale or on/off (1/0).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="OnOff"/>
			<xs:enumeration value="ContinuousControl"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OtherConstraintType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NoOccupantsInRoom">
				<xs:annotation>
					<xs:documentation>The action happens only when there is no occupant in the room. (Typically combined with leaving room events.)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ParameterType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RoomAirTemperature"/>
			<xs:enumeration value="RoomCO2Concentration"/>
			<xs:enumeration value="RoomWorkPlaneDaylightIlluminance"/>
			<xs:enumeration value="RoomLightsPowerDensity"/>
			<xs:enumeration value="OutdoorDryBulbTemperature"/>
			<xs:enumeration value="OutdoorRainIndicator"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PlugLoadType">
		<xs:annotation>
			<xs:documentation>Plug loads can be controlled in a continuous scale or on/off (1/0).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="OnOff"/>
			<xs:enumeration value="ContinuousControl"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RoomEventType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="LeavingRoom">
				<xs:annotation>
					<xs:documentation>The occupant is in the space in the previous time-step and not in the current one.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LeavingRoomMoreThan1Hour"/>
			<xs:enumeration value="LeavingRoomMoreThan6Hours"/>
			<xs:enumeration value="EnteringRoom">
				<xs:annotation>
					<xs:documentation>The occupant is not in the space in the previous time-step and is in the current one.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="StayingInRoom"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SeasonType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Spring">
				<xs:annotation>
					<xs:documentation>March 1 to May 31</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Summer">
				<xs:annotation>
					<xs:documentation>June 1 to August 31</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Fall">
				<xs:annotation>
					<xs:documentation>September 1 to November 30</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Winter">
				<xs:annotation>
					<xs:documentation>December 1 to February 28</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="All"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ShadeAndBlindType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Operable"/>
			<xs:enumeration value="Fixed"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SpaceCategory">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OwnOffice"/>
			<xs:enumeration value="OtherOffice"/>
			<xs:enumeration value="MeetingRoom"/>
			<xs:enumeration value="AuxRoom">
				<xs:annotation>
					<xs:documentation>All other rooms</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Outdoor"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SpaceOccupancyCalculationMethod">
		<xs:annotation>
			<xs:documentation> The space occupancy calculation method.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="MarkovChainModel"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SpaceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MeetingRoom"/>
			<xs:enumeration value="Corridor"/>
			<xs:enumeration value="Outdoor"/>
			<xs:enumeration value="Office"/>
			<xs:enumeration value="ResidentialOwn"/>
			<xs:enumeration value="ResidentialRent"/>
			<xs:enumeration value="OfficeShared"/>
			<xs:enumeration value="OfficePrivate"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StatusTransitionEventType">
		<xs:annotation>
			<xs:documentation> One time event involving occupancy status transition in  building level</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Arrival"/>
			<xs:enumeration value="Departure"/>
			<xs:enumeration value="ShortTermLeaving"/>
			<xs:enumeration value="ShortTermVisiting"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SystemTypeList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HVAC"/>
			<xs:enumeration value="Lights"/>
			<xs:enumeration value="Windows"/>
			<xs:enumeration value="PlugLoad"/>
			<xs:enumeration value="Thermostats"/>
			<xs:enumeration value="ShadesAndBlinds"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ThermostatType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Adjustable"/>
			<xs:enumeration value="Fixed"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimeofDayType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Morning">
				<xs:annotation>
					<xs:documentation>6am to 12pm</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Noon">
				<xs:annotation>
					<xs:documentation>12pm</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Afternoon">
				<xs:annotation>
					<xs:documentation>12pm to 6pm</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Evening">
				<xs:annotation>
					<xs:documentation>6pm to 12am</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Day">
				<xs:annotation>
					<xs:documentation>6am to 12am</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Night">
				<xs:annotation>
					<xs:documentation>12am to 6am</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="All"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypesDataCollectedList">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CrossSectionSurvey"/>
			<xs:enumeration value="LongitudinalSurvey"/>
			<xs:enumeration value="IEQmeasurements"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WindowType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Operable"/>
			<xs:enumeration value="ContinuousControl"/>
			<xs:enumeration value="Fixed"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
